<main>
    <section class="header-section">
        <img class="logo-icon" src="assets/png/logoBg-main.png" alt="logo" width="120"/>
        <button class="route-btn" routerLink="/profile"><img src="assets/svg/user-icon.svg" width="30"></button>
    </section>
    <div></div>
    <section class="main-section">
        <ng-content/>
    </section>
    <div></div>
    <section class="btn-section">
        <button class="route-btn" routerLink="/home"><img src="assets/svg/home.svg" width="40"></button>
        <button class="route-btn" routerLink="/info"><img src="assets/svg/info.svg" width="40"></button>
        <button class="route-btn" routerLink="/contact"><img src="assets/svg/headset.svg" width="40"></button>
        <button class="route-btn" routerLink="/controller" [disabled]="!IsAdmin"><img src="assets/svg/remote-control.svg" width="40"></button>
        <button class="route-btn" (click)="toggleAdmin()"><img src="assets/svg/remote-control.svg" width="40"></button>
    </section>
</main>
