@use "../../../../styles/_variables.scss" as *;

main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 25px;
    align-items: center;
    justify-content: center;
    
    div {
        height: 4px;
        width: 100%;
        background-color: $color-bg-surface;
    }

    .header-section {
        width: 100%;
        display: flex;
        flex-grow: 0.1;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo-icon, button {
            margin: 0 20px;
        }

        button {
            background-color: $color-bg-surface;
            border-radius: 50%;
            padding: 5px;
            border: 2px solid transparent;
            outline: none;

            &:hover {
                background: radial-gradient(circle, $color-bg-surface, $color-border);
                border-color: $color-border;
            }
        }
    }

    .main-section {
        flex-grow: 1.5;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 20px;

        form {
            width: 100%;
        }
    }

    .btn-section {
        flex-grow: 0.1;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .route-btn {
            background-color: $color-bg-surface;
            border-radius: 12px;
            padding: 5px;
            border: 2px solid transparent;
            outline: none;

            &:hover {
                background-color: $color-text-placeholder;
                border-color: $color-border-focus;
            }

            &:disabled {
                opacity: 0.4;
                cursor: not-allowed;

                &:hover {
                    background-color: $color-bg-surface;
                    border-color: transparent;
                }
            }
        }
    }
}