@use '../styles/variables.scss' as *;
@use '../styles/breakpoints.scss' as *;

footer {
    p {
        text-align: center;
        padding: 1rem;
        color: #66666644;
        font-size: 0.6rem;
        position: fixed;
        z-index: -10;
        top: 9%;
        writing-mode: vertical-lr; // Ativa a escrita vertical da direita para a esquerda
        text-orientation: upright; // CRUCIAL: Mantém as letras em pé (sem deitar os caracteres)
        letter-spacing: 0.1em; // Opcional: Adiciona espaçamento entre as letras para melhor legibilidade
        line-height: 1.2; // Ajusta o espaçamento entre as linhas para melhor legibilidade
        white-space: nowrap; // Evita que o texto quebre em várias linhas
        
        @include lg {
            background: $color-bg-primary;
            writing-mode: horizontal-tb; // Volta para escrita horizontal
            text-orientation: initial; // Reseta a orientação do texto
            color: #666;
            top: 94%;
            width: 100%;
            z-index: 1;
            font-size: 0.9rem;
        }
    }
}