@use "../../../styles/_variables.scss" as *;
@use '../../../styles/_breakpoints.scss' as *;

.main {
    padding: 60px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.secondary {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.6dvh;
    
    @include md {
        font-size: 3.2vw;
    }
    
    @include lg {
        flex-direction: row;
        width: 100%;
        gap: 20px;
        font-size: 1.2vw;
    }
}

.primary {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 8px;
    border: 4px solid $color-border;
    background-color: $color-bg-surface;

    align-items: center;
    justify-content: space-between;
    padding: 1dvh;

    font-size: 3.4vw;

    @include md {
        font-size: 3.8vw;
        height: 16vw;
    }

    @include lg {
        padding: 2dvh;
        height: auto;
        font-size: 2.2vw;
    }

    .pulse-orbe {
        border-radius: 100%;
        background-color: gray;
        height: 1.5dvh;
        width: 1.5dvh;
        
        @include lg {
            height: 2dvh;
            width: 2dvh;
        }
    }

    .ativo {
        background-color: $color-green-deep;
        animation: pulse 1s ease-in-out infinite;
    }

    .carregando {
        background-color: #838111;
        animation: pulse 1.5s ease-in-out infinite;
    }

    .desativado {
        background-color: #771b1b;
        animation: pulse 2s ease-in-out infinite;
    }

    button {
        background-color: $color-bg-light-surface;
        color: $color-text-primary;
        border: 2px solid $color-border;
        border-radius: 12px;
        padding: .8vw;
        font-size: 1.3vw;

        &:hover {
            filter: brightness(0.95);
            cursor: pointer;
        }
    }
}

@keyframes pulse {
    0%, 100% {
        filter: brightness(1);
    } 50% {
        filter: brightness(1.6);
    }
}